{% extends "base.html" %}
{% block title %}GradGuru • Menu{% endblock %}

{% block content %}
<h1 class="page-title">Descubra sua próxima disciplina</h1>

<div class="sections">
  <a href="{% url 'main:disciplinas' %}" class="card-link">
    <div class="section-card">
      <h3>Avaliar Disciplina</h3>
      <p>Deixe sua opinião e ajude outros alunos!</p>
    </div>
  </a>

  <a href="{% url 'main:disciplinas' %}?tipo=Obrigatória" class="card-link">
    <div class="section-card">
      <h3>Disciplinas de Graduação</h3>
      <p>Veja avaliações das matérias obrigatórias.</p>
    </div>
  </a>

  <a href="{% url 'main:disciplinas' %}?tipo=Eletiva" class="card-link">
    <div class="section-card">
      <h3>Disciplinas Eletivas</h3>
      <p>Explore matérias optativas e escolha melhor.</p>
    </div>
  </a>
</div>

{% endblock %}
