{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}GradGuru{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
</head>
<body>
  <header>
    <a href="{% url 'main:main_page' %}" class="logo" style="text-decoration: none; color: inherit;">
      <img src="{% static 'logo.png' %}" alt="GradGuru Logo" />
      <span>GradGuru</span>
    </a>
    <div class="user-auth">
      {% if request.user.is_authenticated %}
      Hello, {{ request.user.first_name }}!
      <form method="post" action="{% url 'account:logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
      {% else %}
      <a href="{% url 'account:login' %}">Login</a>
      {% endif %}
    </div>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
